/build/
/dist/
/doc/build/
/gmacc.egg-info/
/src/gmacc.egg-info/

/examples/example_data/

*/output/*

__pycache__/
*.py[cod]
*~
*.swp
*.so

.cache/
/tags
/scratch/
*.sublime-*
/htmlcov/
/.coverage
/.coverage.*
*.log
*.err_log
.vagrant