/build/
/dist/
/doc/build/
/gmacc.egg-info/
/src/gmacc.egg-info/

/examples/02_synthetic_database_and_nn_creation/example_data/

*output/

__pycache__/
*.py[cod]
*~
*.swp
*.so

.cache/
/tags
/scratch/
*.sublime-*
/htmlcov/
/.coverage
/.coverage.*
*.log
*.err_log
.vagrant
